/*h1 Colour*/
h1 {
    color: white;
}

/* User Card */
.user-card {
    box-shadow: 0 0 40px rgba(227, 224, 224, 0.8),
        0 0 60px rgba(20, 20, 20, 0.95);
}

/* QR Size */
::ng-deep qrcode canvas,
::ng-deep qrcode img {
    width: 100% !important;
    height: auto !important;
}

/* BlueTick Effact */
.bluetick-img {
    transition: transform 0.8s ease;
}

.bluetick-img:hover {
    transform: rotate(360deg);
}