<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>

    <div class=" flex flex-col items-center justify-center">

        <!-- Login Title-->
        <h1 reveal class="font-bold md:text-2xl text-xl mb-8">Login <span class="text-purple-600">My</span>Profile
        </h1>

        <!-- Login Form-->
        <div reveal class="login-card flex flex-col bg-white rounded-lg p-6 md:w-120 w-full">

            <h2 class="text-center font-bold md:text-xl text-base text-purple-600">Login Now</h2>

            <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4 p-4">

                <app-input [(model)]="form.IdentityNumber" label="Identity Number" type="text"
                    placeholder="010118145248" maxlength="12" inputmode="numeric">
                </app-input>

                <p *ngIf="identityNumberError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ identityNumberError }}
                </p>

                <app-input [(model)]="form.Password" label="Password" type="password" placeholder="Qwer1234.">
                </app-input>

                <p *ngIf="passwordError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ passwordError }}

                <div class="flex md:flex-row flex-col md:gap-5 gap-6 md:justify-between items-end">

                    <div class="flex flex-col w-full gap-1 md:w-3/4 font-medium">

                        <label class="md:text-base text-sm text-gray-400 font-medium">
                            Country
                        </label>

                        <select [(ngModel)]="form.Country" name="Country"
                            class="border border-gray-600 text-black rounded-lg p-2 md:text-base text-sm w-full cursor-pointer">

                            <option value="Malaysia">🇲🇾 Malaysia</option>
                            <option value="coming-soon" disabled>Coming Soon ...</option>

                        </select>

                    </div>

                    <app-button type="submit" [label]="isLoading ? 'Loading...' : 'Login'"
                        class=" flex flex-col w-full md:w-1/4">
                    </app-button>

                </div>

                <app-button label="Register Now" routerLink="/register" class="flex flex-col mt-5 w-full" />

            </form>

        </div>

        <!-- Successfully Logout Modal -->
        <div *ngIf="logoutSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white login-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">

                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>

                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Logout!</h2>

                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Remember login back to update your latest personal information.
                    </p>

                    <app-button label="Yes, I will" (click)="closeLogout()" />

                </div>
            </div>
        </div>

        <!-- Successfully Delete Account Modal -->
        <div *ngIf="deleteAccountSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white login-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">

                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>

                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Deleted Account!
                    </h2>

                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Please register back account if you miss us.
                    </p>

                    <app-button label="Yes, I will" (click)="closeDeleteAccount()" />

                </div>
            </div>
        </div>

    </div>

</body>

</html>