<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Page</title>
</head>

<body>

    <!-- Friend Page Title -->
    <div class=" flex flex-col items-center justify-center">
        <h1 reveal class="font-bold md:text-2xl text-xl mb-12"><span class="text-purple-600">{{ name
                }}</span>'s Friends
        </h1>

        <!-- Friend Requests -->
        <div reveal class="friend-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black mb-6">Friend Requests</h2>
            @if (friendRequests.length > 0) {
            <div class="flex flex-col gap-4">
                @for (request of friendRequests; track request.id) {
                <div class="rounded-lg p-4 bg-purple-100">
                    <p class="font-bold text-purple-500 md:text-lg text-base mb-4">
                        {{ request.requesterName }}<span class="text-black">'s request</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Age: <span class="text-purple-500">
                            {{ request.requesterAge }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Sex: <span class="text-purple-500">
                            {{ request.requesterSex }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Email: <span class="text-purple-500">
                            {{ request.requesterEmail }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Country: <span class="text-purple-500">
                            {{ request.requesterCountry }}</span>
                    </p>

                    <div class="flex gap-4 justify-end mt-4">
                        <app-button [label]="isLoading2 ? 'Loading...' : 'Remove'"
                            (click)="deleteFriendRequest(request.id)" variant="danger" class="flex justify-end">
                        </app-button>

                        <app-button [label]="isLoading ? 'Loading...' : 'Accept'"
                            (click)="acceptFriendRequest(request.id)" class="flex justify-end">
                        </app-button>
                    </div>
                </div>
                }
            </div>
            } @else {
            <div class="flex flex-col items-center justify-center p-8">
                <img src="nofriend.jpg" alt="No Friend Request Found" class="md:w-50 w-25 mb-6">
                <p class="font-medium md:text-lg text-base text-black mb-6">No Friend Request.</p>
                <p class="font-medium md:text-sm text-xs text-gray-500 leading-relaxed">Sorry, we couldn't find any
                    friend request
                    that you're
                    looking for.
                </p>
            </div>
            }
        </div>

        <!-- Friends -->
        <div reveal class="friend-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black mb-6">Friends</h2>
            @if (friends.length > 0) {
            <div class="flex flex-col gap-4">
                @for (fri of friends; track fri.id) {
                <div class="rounded-lg p-4 bg-purple-100">
                    <p class="font-bold text-purple-500 md:text-lg text-base mb-4">
                        {{ fri.friendName }}<span class="text-black"></span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Age: <span class="text-purple-500">
                            {{ fri.friendAge }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Sex: <span class="text-purple-500">
                            {{ fri.friendSex }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Email: <span class="text-purple-500">
                            {{ fri.friendEmail }}</span>
                    </p>
                    <p class="text-black md:text-base text-sm font-bold">Country: <span class="text-purple-500">
                            {{ fri.friendCountry }}</span>
                    </p>
                    <div class="flex gap-4 justify-end mt-4">
                        <app-button [label]="isLoading3 ? 'Loading...' : 'Delete'" (click)="deleteFriend(fri.id)"
                            variant="danger" class="flex justify-end">
                        </app-button>
                        <app-button label="View Profile" routerLink="/user/{{fri.friendId}}" class="flex justify-end">
                        </app-button>
                    </div>
                </div>
                }
            </div>
            } @else {
            <div class="flex flex-col items-center justify-center p-8">
                <img src="nofriend.jpg" alt="No Friend Found" class="md:w-50 w-25 mb-6">
                <p class="font-medium md:text-lg text-base text-black mb-6">No Friend Found.</p>
                <p class="font-medium md:text-sm text-xs text-gray-500 leading-relaxed">Sorry, we couldn't find any
                    friend
                    that you're
                    looking for.
                </p>
            </div>
            }
        </div>
    </div>

    <!-- Successfully Update friend request Modal -->
    <div *ngIf="acceptSuccess">
        <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
            <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Accepted!
                </h2>
                <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                    Friend request is accepted.
                </p>
                <app-button label="Okay" (click)="closeAcceptModal()" />
            </div>
        </div>
    </div>

    <!-- Successfully remove friend request Modal -->
    <div *ngIf="deleteFriendRequestSuccess">
        <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
            <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Removed!
                </h2>
                <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                    Friend request is removed.
                </p>
                <app-button label="Thanks" (click)="closeDeleteFriendRequestSuccessModal()" />
            </div>
        </div>
    </div>

    <!-- Successfully remove friend  Modal -->
    <div *ngIf="deleteFriendSuccess">
        <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
            <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Removed!
                </h2>
                <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                    Friend is removed.
                </p>
                <app-button label="Thanks" (click)="closeDeleteFriendSuccessModal()" />
            </div>
        </div>
    </div>




</body>

</html>