<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings Page</title>
</head>

<body>
    <div class=" flex flex-col items-center justify-center">

        <!-- Settings Title-->
        <div class=" flex flex-col items-center justify-center">
            <h1 reveal class="font-bold md:text-2xl text-xl mb-12"><span class="text-purple-600">My</span>Profile
                Settings
            </h1>
        </div>

        <!-- BlueTick Badge -->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <div class="flex flex-row">
                <h2 class="font-bold md:text-lg text-base text-black">BlueTick Badge</h2>
                <div class="flex justify-center items-center">
                    <img src="bluetick.png" alt="BlueTick" class="md:w-7 w-6 h-auto rounded-full">
                </div>
            </div>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify">BlueTick Badge is a
                verification badge that indicates a user's identity and personal information have been reviewed and
                authenticated by the MyProfile administration team. This badge confirms that the profile belongs to a
                real individual and that the submitted information has been verified for accuracy. It helps enhance
                trust, authenticity, and security for all users interacting with the platform. </p>
            <div class="flex mt-4 justify-end">
                @if (isBlueTick == "No"){
                <app-button (click)="onVerify()" [label]="isLoading2 ? 'Loading...' : 'Apply Now'">
                </app-button>
                }@else if(isBlueTick == "Pending"){
                <p
                    class="flex rounded-lg items-center text-white bg-gray-400 md:text-base text-sm font-medium md:px-5 px-3 py-2">
                    Pending ...
                </p>
                }@else{
                <p
                    class="flex rounded-lg items-center text-white bg-blue-300 md:text-base text-sm font-medium md:px-5 px-3 py-2">
                    BlueTick Received
                </p>
                }
            </div>
        </div>

        <!-- Notification Badge -->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black">Notification</h2>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify">This Notification
                feature sends an email alert whenever a login is detected on your account. It helps you stay informed of
                any account activity and provides an extra layer of security for your personal information. You may
                enable this feature to enhance your account's privacy and protection. </p>
            <div class="flex mt-4 justify-end">
                <app-toggle-switch [isActive]="isNotification" (toggled)="onToggleNotificationMode($event)">
                </app-toggle-switch>
            </div>
        </div>

        <!-- Second Verification -->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black">OTP Verification</h2>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify">You can manage your
                two-factor authentication settings here. When enabled, you will be required to complete OTP verification
                before successfully logging in. When disabled, you can log in using only your identity number and
                password without OTP verification. </p>
            <div class="flex mt-4 justify-end">
                <app-toggle-switch [isActive]="isVerify" (toggled)="onToggleVerifyMode($event)">
                </app-toggle-switch>
            </div>
        </div>

        <!-- Private Profile Visibility -->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black">Private Profile Visibility</h2>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify">You can adjust your
                profile visibility here. When enabled, only your friends will be able to view your profile. If disabled,
                your profile will be public and accessible to anyone.</p>
            <div class="flex mt-4 justify-end">
                <app-toggle-switch [isActive]="isPrivate" (toggled)="onTogglePrivateMode($event)">
                </app-toggle-switch>
            </div>
        </div>

        <!-- Change Password Form-->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black">Change Account Password</h2>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify"> Are you sure
                want to change your account password? If so, please enter your current password, your new password, and
                confirm your new password below. For security purposes, your previous password will no longer be valid
                after the change. Please make sure to remember your new password for future logins.</p>
            <form (ngSubmit)="onSubmit2()" class="flex flex-col md:justify-between gap-4 mt-3">
                <app-input class="w-full" [(model)]="form2.Password" label="Password" type="password"
                    placeholder="Qwer1234.">
                </app-input>
                <p *ngIf="passwordError2" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ passwordError2 }}
                </p>
                <app-input class="w-full" [(model)]="form2.NewPassword" label="New Password" type="password"
                    placeholder="Qwer1234.">
                </app-input>
                <p *ngIf="newPasswordError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ newPasswordError }}
                </p>
                <app-input class="w-full" [(model)]="form2.ConfirmNewPassword" label="Confirm New Password"
                    type="password" placeholder="Qwer1234.">
                </app-input>
                <p *ngIf="confirmNewPasswordError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ confirmNewPasswordError }}
                </p>
                <div class="flex mt-1 justify-end">
                    <app-button type="submit" [label]="isLoading2 ? 'Loading...' : 'Confirm'">
                    </app-button>
                </div>
            </form>
        </div>

        <!-- Delete Account Form-->
        <div reveal class="setting-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full">
            <h2 class="font-bold md:text-lg text-base text-red-500">Delete Account</h2>
            <p class="text-black font-medium md:text-base text-sm mt-4 leading-relaxed text-justify">Are you sure
                you
                want to
                delete your
                account? If you are
                certain, please confirm your decision by
                entering your current account password below. Once confirmed, click the "Confirm" button to proceed.
                Please note that this action is irreversible and will permanently remove your profile and all
                associated
                data. Thank you for being a part of MyProfile.</p>
            <form (ngSubmit)="onSubmit()" class="flex flex-row justify-between items-end gap-6 mt-3">

                <app-input class="w-full" [(model)]="form.Password" label="Password" type="password"
                    placeholder="Qwer1234.">
                </app-input>
                <app-button type="submit" [label]="isLoading ? 'Loading...' : 'Confirm'" variant="danger"
                    class=" flex flex-col md:w-1/5">
                </app-button>
            </form>
            <p *ngIf="passwordError" class="text-red-500 md:text-sm text-xs font-medium mt-4">
                {{ passwordError }}
            </p>
        </div>

        <!-- Sucessfully Update Password Modal -->
        <div *ngIf="updatePasswordSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Updated New
                        Password!</h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Your password for this account is changed a new one. Try login with new password now.
                    </p>
                    <app-button label="Login with New Password" (click)="loginPage()" />
                </div>
            </div>
        </div>

        <!-- Sucessfully Send BlueTick Pending Modal -->
        <div *ngIf="updatePendingBlueTickSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Applied!</h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        You successfully apply the BlueTick Badge, please wait admin to reply.
                    </p>
                    <app-button label="Thanks" (click)="closePendingBlueTickModal()" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>