<footer>
    <div class="footer-top">

        <!-- Logo Name -->
        <div class="footer-brand">
            <div class="logo md:text-lg text-base"><span>{{ 'nav.my' | translate }}</span>{{ 'nav.profile' | translate
                }}</div>
            <p class="font-medium md:text-sm text-xs">{{ 'foot.description' | translate }}</p>
        </div>

        <!-- Navigation -->
        <div class="footer-col">
            <h4 class="md:text-lg text-base">{{ 'foot.navigation' | translate }}</h4>
            <ul>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/home">{{ 'foot.home' |
                        translate }}</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/about">{{ 'foot.about' |
                        translate }}t</a></li>
                @if (isUser){
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/myprofile">{{ 'foot.myprofile'
                        | translate }}</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/search">{{ 'foot.search' |
                        translate }}</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/setting">{{ 'foot.settings' |
                        translate }}</a></li>
                }
                @if (isUser && isAdmin){
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/admin">{{ 'foot.admin' |
                        translate }}</a></li>
                }
            </ul>
        </div>

        <!-- Contact -->
        <div class="footer-col">
            <h4 class="md:text-lg text-base">{{ 'foot.contactus' | translate }}</h4>
            <ul>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a
                        href="mailto:nicholastankaejer2001@gmail.com?subject=MyProfile Support"><i
                            class="ti ti-mail"></i>
                        {{ 'foot.emailus' | translate }}</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a
                        href="https://www.google.com/maps/search/Selangor,Malaysia"><i class="ti ti-map-pin"></i>
                        {{ 'foot.ourlocation' | translate }}</a></li>
            </ul>
        </div>

    </div>

    <hr class="divider">

    <!-- Copyright -->
    <div class="footer-bottom font-medium md:text-sm text-xs">
        <p>© 2026 <span><a routerLink="/home">{{ 'foot.myprofile' | translate }}</a></span>. {{ 'foot.ourlocation' |
            translate }}</p>
    </div>
</footer>