<footer>
    <div class="footer-top">

        <!-- Logo Name -->
        <div class="footer-brand">
            <div class="logo md:text-lg text-base"><span>My</span>Profile</div>
            <p class="font-medium md:text-sm text-xs">A digital platform for showcasing user profiles, enabling
                individuals to present
                their
                information to a global audience.</p>
        </div>

        <!-- Navigation -->
        <div class="footer-col">
            <h4 class="md:text-lg text-base">Navigation</h4>
            <ul>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/home">Home</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/about">About</a></li>
                @if (isUser){

                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/myprofile">MyProfile</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a routerLink="/setting">Settings</a></li>

                }
            </ul>
        </div>

        <!-- Contact -->
        <div class="footer-col">
            <h4 class="md:text-lg text-base">Contact Us</h4>
            <ul>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a
                        href="mailto:nicholastankaejer2001@gmail.com?subject=MyProfile Support"><i
                            class="ti ti-mail"></i>
                        Email Us</a></li>
                <li class="cursor-pointer font-medium md:text-sm text-xs"><a
                        href="https://www.google.com/maps/search/Selangor,Malaysia"><i class="ti ti-map-pin"></i>
                        Our Location</a></li>
            </ul>
        </div>

    </div>

    <hr class="divider">

    <!-- Copyright -->
    <div class="footer-bottom font-medium md:text-sm text-xs">
        <p>© 2026 <span><a routerLink="/home">MyProfile</a></span>. All rights reserved.</p>
    </div>
</footer>