/*h1 Colour*/
h1 {
    color: white;
}

/* Search Card */
.search-card {
    box-shadow: 0 0 40px rgba(227, 224, 224, 0.8),
        0 0 60px rgba(20, 20, 20, 0.95);
}

/* Result Card */
.result-card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.result-card:hover {
    transform: scale(1.05);
    background: #ecd8f8f9;
}