<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>

<body>

    <!-- Search Page Title -->
    <div class="flex flex-col items-center justify-center">
        <h1 reveal class="font-bold md:text-2xl text-xl mb-12">
            <span class="text-purple-600">My</span>Profile Search
        </h1>

        <!-- Search Bar -->
        <div reveal class="flex flex-col md:w-3/5 w-full mb-12">
            <div class="flex flex-row items-center gap-2 justify-center">
                <app-searchbar placeholder="Search user by name..." (onSearchClick)="onSearch($event)"
                    class="w-full font-medium">
                </app-searchbar>
                @if (isLoading) {
                <div class="flex items-center">
                    <div class="animate-spin rounded-full h-6 w-6 border-4 border-purple-600 border-t-transparent">
                    </div>
                </div>
                }
            </div>
            <div reveal class="flex flex-col ml-5">
                <p *ngIf="searchError"
                    class="flex justify-left text-red-500 md:text-sm text-xs font-medium mt-2 md:w-3/5">
                    {{ searchError }}
                </p>
            </div>
        </div>

        <!-- Search Results -->
        @if (resultSuccess && searchResults.length > 0) {
        @for (result of searchResults; track result.id) {
        <div reveal [class.shake]="shakingId === result.id && canShake"
            class="search-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12 result-card">
            <div class="flex flex-col md:flex-row md:justify-between md:items-end">
                <h2 class="font-bold md:text-lg text-base text-black">
                    <span class="text-purple-500">{{result.name}}</span>'s Profile
                </h2>
                @if (result.status == "Private") {
                <p class="text-red-500 md:text-lg text-base font-bold">
                    🔒 {{result.status}}
                </p>
                } @else {
                <p class="text-green-500 md:text-lg text-base font-bold">
                    🌍 {{result.status}}
                </p>
                }
            </div>
            @if (result.intro) {
            <div class="show-section">
                <p class="text-black md:text-base text-sm font-bold mt-3">
                    Bio: <span class="text-purple-500">{{ result.intro }}</span>
                </p>
            </div>
            }
            <div class="mt-4 flex flex-col gap-1">
                <p class="text-black md:text-base text-sm font-bold">Age: <span
                        class="text-purple-500">{{result.age}}</span></p>
                <p class="text-black md:text-base text-sm font-bold">Sex: <span
                        class="text-purple-500">{{result.sex}}</span></p>
                <p class="text-black md:text-base text-sm font-bold">Email: <span
                        class="text-purple-500">{{result.email}}</span></p>
                <p class="text-black md:text-base text-sm font-bold">Country: <span
                        class="text-purple-500">{{result.country}}</span></p>
            </div>
            <div class="show-section flex justify-end gap-6">
                @if (id == result.id) {
                <p
                    class="flex rounded-lg text-white bg-gray-400 md:text-base text-sm font-medium mt-5 w-full justify-center items-center px-2 py-1">
                    Your Profile
                </p>
                }
                @else if (isRequestSent(result.id)) {
                <p
                    class="flex rounded-lg text-white bg-gray-400 md:text-base text-sm font-medium mt-5 w-full justify-center items-center px-2 py-1">
                    Request Sent
                </p>
                }@else if (isFriend(result.id)) {
                <p
                    class="flex rounded-lg text-white bg-gray-400 md:text-base text-sm font-medium mt-5 w-full justify-center items-center px-2 py-1">
                    Your Friend
                </p>
                }@else{
                <app-button [label]="isLoading2 ? 'Loading...' : 'Add Friend'" (click)="onPermissionClick(result)"
                    size="sm" class="flex flex-col mt-5 w-full">
                </app-button>
                }
                <app-button [label]="isLoading3 ? 'Loading...' : 'View Profile'" (click)="onCardClick(result)" size="sm"
                    class="flex flex-col mt-5 w-full">
                </app-button>
            </div>
        </div>
        }
        }

        <!-- No Results -->
        @if (noResult){
        <div reveal class="search-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full">
            <div class="flex flex-col items-center justify-center p-8">
                <img src="notfound.jpg" alt="No Related User Found" class="md:w-50 w-25 mb-6">
                <p class="font-medium md:text-lg text-base text-black mb-6">No User Found.</p>
                <p class="font-medium md:text-sm text-xs text-gray-500 leading-relaxed">Sorry, we couldn't find any
                    user
                    that you're
                    looking for.
                </p>
            </div>
        </div>
        }

        <!-- Sucessfully Add Permission -->
        <div *ngIf="permissionSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Sent Request!
                    </h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Friend request is successfully sent.
                    </p>
                    <app-button label="Okay" (click)="closePermissionSuccessModal()" />
                </div>
            </div>
        </div>

        <!-- Exist Friend Request Modal -->
        <div *ngIf="showExistFriendRequest">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-red-500 font-bold">✗</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Failed to Send Request!
                    </h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        You already have this user friend request. Check your friend request now.
                    </p>
                    <app-button label="Yes, I will" (click)="closeExistFriendRequestModal()" />
                </div>
            </div>
        </div>

    </div>
</body>

</html>