/*h1 Colour*/
h1 {
    color: white;
}

/* MyProfile Card */
.myProfile-card {
    box-shadow: 0 0 40px rgba(227, 224, 224, 0.8),
        0 0 60px rgba(20, 20, 20, 0.95);
}

/* Hidden/Show Effact */
.position-section {
    display: none;
}

.position-section.expand {
    display: block;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* BlueTick Effact */
.bluetick-img {
    transition: transform 0.8s ease;
}

.bluetick-img:hover {
    transform: rotate(360deg);
}