<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile Page</title>
</head>

<body>

    <!-- Myprofile Page Title -->
    <div class=" flex flex-col items-center justify-center">
        <h1 reveal class="font-bold md:text-2xl text-xl mb-12"><span class="text-purple-600">{{ name
                }}</span>'s Profile
        </h1>

        <!-- General Personal Information -->
        <div reveal class="myProfile-card flex flex-col bg-white rounded-lg p-6 md:w-4/5 w-full mb-12">
            <h2 class="font-bold md:text-lg text-base text-black">General Personal Information</h2>
            <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4 mt-4">
                <div class="flex md:flex-row flex-col gap-4">
                    <app-input [(model)]="form.IdentityNumber" label="Identity Number" type="text"
                        placeholder="010118145248" maxlength="12" inputmode="numeric" [readonly]="true" class="w-full">
                    </app-input>
                    <app-input [(model)]="form.Name" label="Name" type="text" class="w-full">
                    </app-input>
                </div>
                <p *ngIf="nameError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ nameError }}
                </p>
                <div class="flex md:flex-row flex-col gap-4">
                    <app-input [(model)]="form.Age" label="Age" type="text" placeholder="25" inputmode="numeric">
                    </app-input>
                    <div class="flex flex-col w-full gap-1 md:w-3/4 font-medium">
                        <label class="md:text-base text-sm text-gray-400 font-medium">
                            Country
                        </label>
                        <select [(ngModel)]="form.Country" name="Country"
                            class="border border-gray-600 text-black rounded-lg p-2 md:text-base text-sm w-full cursor-pointer focus:outline-none focus:ring-1 focus:ring-purple-500 focus:border-white">
                            <option value="Malaysia">🇲🇾 Malaysia</option>
                            <option value="coming-soon" disabled>Coming Soon ...</option>
                        </select>
                    </div>
                </div>
                <p *ngIf="ageError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ ageError }}
                </p>
                <app-input [(model)]="form.Email" label="Email" type="text" placeholder="Users_123@gmail.com "
                    class="w-full">
                </app-input>
                <p *ngIf="emailError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ emailError }}
                </p>
                <app-input [(model)]="form.PhoneNumber" label="Phone Number" type="text" placeholder="0121231231"
                    inputmode="numeric" maxlength="10" class="w-full">
                </app-input>
                <p *ngIf="phoneNumberError" class="text-red-500 md:text-sm text-xs font-medium">
                    {{ phoneNumberError }}
                </p>
                <div class="flex justify-end mt-1">
                    <app-button type="submit" [label]="isLoading ? 'Loading...' : 'Update'" class=" flex flex-col">
                    </app-button>
                </div>
            </form>
        </div>

        <!-- Sucessfully Login Modal -->
        <div *ngIf="loginSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Login!</h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Welcome, Let's update your profile now.
                    </p>
                    <app-button label="Yes, I will" (click)="closeLoginSuccessModal()" />
                </div>
            </div>
        </div>

        <!-- Sucessfully Update User Modal -->
        <div *ngIf="updateUserSuccess">
            <div reveal class="fixed inset-0 bg-black/50 flex items-center justify-center z-20">
                <div class="bg-white register-card rounded-lg p-6 md:w-100 w-full mx-20 shadow-lg text-center">
                    <div class="mb-4 md:text-4xl text-3xl text-green-500 font-bold">✓</div>
                    <h2 class="font-bold md:text-xl text-base font-bold text-black mb-2">Successfully Updated!</h2>
                    <p class="text-gray-600 md:text-base text-sm font-medium mb-6">
                        Your profile is updated.
                    </p>
                    <app-button label="Okay" (click)="closeUpdateUserModal()" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>